* {
  box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    background-color: #696969;/*background color #803839 good red color */
    text-align: center;
    color: #D3D3D3;
    font-family: 'Waiting for the Sunrise', cursive;
    font-size:15px;
    letter-spacing: 6px;
    font-weight: bold;

}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 10px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide all elements by default */
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
  margin: 5px;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: green;
  color: white;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
img{
  object-fit: fill;
  width: 250px;
  height: 250px;
}


